@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Lora:wght@400;600&display=swap');

* {
  font-family: "Lora", serif;
}

$basic-padding: 0 30px;

$basic-color: #0077b6;